

.container-cards-title{
    display: flex;
    flex-direction: column;
    height: 100%;
}





/*
====Resposive=======
*/

@media only screen and (min-width: 1400px) {
    /* For 4k: */
   
   
  
  
  }
  @media only screen and (max-width: 800px) {
    /* For tablets: */
  
  
  }
  @media only screen and (max-width: 500px) {
    /* For mobile phones: */
    
   
  
  
   
  
  
  }


