.content-progreso{
    height: 10px !important;
    border-radius: 10px;
    background-color: aliceblue !important;
}

.MuiLinearProgress-barColorPrimary {
    background-color: $primary-color !important;

}