.content-datos-enviado{
    
    display: flex;
    flex-direction: column;
    position: relative;
}

.content-text-img{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texts{


    p{
        margin-bottom: 15px;
        font-size: 15px;
    color: $secundary-color;
  
    }

}
.texts-h2-datos{
    font-weight: bold;
    
}
.texts-h2-datos span:nth-child(1){
    font-size: 52px;
    color: $secundary-color;
    letter-spacing: 1.8px;
    
}
.texts-h2-datos span:nth-child(3){
    font-size: 52px;
    color: $primary-color;
    letter-spacing: 1.8px;
    
}
.texts-h2-datos span:nth-child(5){
    font-size: 52px;
    color: $primary-color;
    letter-spacing: 1.8px;
    
}
.texts p:nth-child(1){
    font-size: 22px;
    color: $secundary-color;
    letter-spacing: 1.8px;
    
}